.dashboard {
  padding: 2em;
  .head {
    height: 30em;
    display: flex;
    .status-wrapper {
      display: flex;
      flex-direction: column;
      padding: 1em;
      .col {
        border-radius: 15px;
        display: flex;
        // box-shadow: 0px 0px 30px 2px rgba(221, 221, 221, 0.2);
        background: #fe6370;
        padding: 1em;
        gap: 3em;
        .icon-wrap {
          padding: 1em;
          background-color: #fdfdfd;
          box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
          border-radius: 15px;
        }
        .text-wrap {
          h3 {
            color: #fdfdfd;
          }
          p {
            margin-top: 1em;
            font-size: 1.3em;
            font-weight: 600;
          }
        }
      }
    }
  }
}
