<div class="dashboard">
  <div class="head">
    <div class="status-wrapper">
      <div class="col">
        <div class="icon-wrap">
          <img src="../../../assets/icons8-data-pending-48.png" alt="" />
        </div>
        <div class="text-wrap">
          <h3>Pending Tasks</h3>
          <p>5</p>
        </div>
      </div>
    </div>
    <div class="status-wrapper">
      <div class="col">
        <div class="icon-wrap">
          <img src="../../../assets/icons8-data-pending-48.png" alt="" />
        </div>
        <div class="text-wrap">
          <h3>Pending Tasks</h3>
          <p>5</p>
        </div>
      </div>
    </div>
  </div>
</div>
