$mainColor: #51ffce;
.not-avail {
  margin-top: 6em;
  text-align: center;
}
.notification {
  padding: 2em;
  .title {
    display: flex;
    width: 10em;
    align-items: center;
    color: #fdfdfd;
    h3 {
      color: #fdfdfd;
      margin-right: 0.5em;
    }
    span {
      color: red;
    }
  }
  .notification-wrapper {
    display: flex;
    flex-flow: column wrap;
    .notify-short-wrapper {
      cursor: pointer;
      margin-top: 1em;
      border: 2px solid gainsboro;
      background: #fdfdfd;
      border-radius: 10px;
      padding: 0.7em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .from {
        font-weight: 600;
        width: 10em;
        color: #000;
      }
      .msg {
        font-size: 1.1em;
        font-weight: 500;
        width: 45em;
        color: #000;
      }
      .time {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
