<div class="notification">
  <div class="title">
    <h3>Notifications</h3>
    <span class="material-icons"> circle_notifications </span>
  </div>
  <div class="notification-wrapper">
    <div *ngIf="isThere">
      <div
        class="notify-short-wrapper"
        *ngFor="let notify of Notifications"
        (click)="onClicked(notify.id)"
      >
        <h3 class="from" [ngStyle]="{ fontWeight: notify.status ? 400 : 700 }">
          {{ notify.sender }}
        </h3>
        <p class="msg" [ngStyle]="{ fontWeight: notify.status ? 400 : 700 }">
          {{ notify.message }}
        </p>
        <p class="time" [ngStyle]="{ fontWeight: notify.status ? 400 : 700 }">
          {{ notify.time }}
        </p>
      </div>
    </div>
    <div *ngIf="!isThere">
      <p class="not-avail">Notifications is not available</p>
    </div>
  </div>
</div>
